@import "tailwindcss";

@theme{
  --color-ff-white:#ffffff;
  --color-ff-green: #008000;
  --color-ff-cream: #fefaee;
  --color-ff-light-gray:#6a7282;
  --text-ff-18: 18px;
  --text-ff-24: 24px;
  --text-ff-28: 28px;
  --text-ff-32: 32px;
  --text-ff-36: 36px;
}

.ff-home{
  background-image: url("./assets/banner/background.png");
  min-height: 1024px;
  padding-left: 50px;
  padding-right: 50px;
  background-repeat: no-repeat;
  background-size: cover;
}